---

---

<div class="conteiner">
  <div class="conteiner-box" id="sec-projects">
    <div class="cuadro-1" id="flex-sec">
      <h2>Book Loan System.</h2>
      <p>
        System designed to manage book lending in a library. <br /><br />
        Loan and return dates.
      </p><br /><br />
      <h3>Java</h3><br />
      <a href="" class="repository">Dev Repository ➜</a><br /><br />
      <a href="https://spotify-clone-neo.vercel.app/" class="repository"
        >Online Web ➜</a
      >
    </div>

    <div class="cuadro-2" id="projects">
      <img src="book.svg" alt="book" />
    </div>
  </div>

  <div class="conteiner-box" id="sec-projects">
    <div class="cuadro-1" id="flex-sec">
      <h2>Steam-Inspired Video Game Sales Platform.</h2>
      <p>
        Similar to Steam, offering a wide range of games for purchase and
        download.
        <br /><br /><br />
        <h3>React</h3><h3>Html</h3><h3>Css</h3><h3>JavaScript</h3>
      </p><br />
      <a href="https://github.com/neobito/steam-clone-neo" class="repository"
        >Dev Repository ➜</a
      ><br /><br />
      <a href="https://steam-clone-neo.vercel.app//" class="repository"
        >Online Web ➜</a
      >
    </div>

    <div class="cuadro-2" id="projects">
      <img src="steam.svg" alt="steam" />
    </div>
  </div>
  <div class="conteiner-box" id="sec-projects">
    <div class="cuadro-1" id="flex-sec">
      <h2>Spotify Clone</h2>
      <p>
        Design and development of an intuitive and visually appealing user
        interface, inspired by the Spotify experience.
        <br /><br />
        <h3>Astro</h3><h3>React</h3><h3>Tailwind CSS</h3><br /><h3>
          JavaScript
        </h3><h3>Svelte</h3>
        <h3>midudev</h3><br />
      </p>
      <a href="https://github.com/neobito/steam-clone-neo" class="repository"
        >Dev Repository ➜</a
      ><br /><br />
      <a href="https://spotify-clone-neo.vercel.app/" class="repository"
        >Online Web ➜</a
      >
    </div>

    <div class="cuadro-2" id="projects">
      <img src="spotify.svg" alt="spotify" />
    </div>
  </div>
  <div class="conteiner-box" id="sec-projects">
    <div class="cuadro-1" id="flex-sec">
      <h2>Platform to Showcase Own Music (Neobit)</h2>
      <p>
        Development of a digital platform to showcase and share own music. <br
        /><br />
        Interface for playing music.<br /><br />
        <h3>Atro</h3><h3>Html</h3><h3>Css</h3><h3>JavaScript</h3>
      </p><br />

      <a href="https://github.com/neobito/music-neo" class="repository"
        >Dev Repository ➜</a
      ><br /><br />
      <a href="https://music-neo.vercel.app/" class="repository">Online Web ➜</a
      >
    </div>

    <div class="cuadro-2" id="projects">
      <img src="music.svg" alt="music" />
    </div>
  </div>
  <div class="conteiner-box" id="sec-projects">
    <div class="cuadro-1" id="flex-sec">
      <h2>8 Bit Components for developers</h2>
      <p>
        Components made by me in astro for developers who love retro style. <br
        /><br /><br />
        Video Games 8 bis.<br /><br />

        <h3>Atro</h3><h3>Html</h3><h3>Css</h3><h3>JavaScript</h3>
      </p><br />

      <a href="" class="repository">Dev Repository ➜</a><br /><br />
      <a href="https://spotify-clone-neo.vercel.app/" class="repository"
        >Online Web ➜</a
      >
    </div>

    <div class="cuadro-2" id="projects">
      <img src="portfolio8.svg" alt="music" />
    </div>
  </div>
  <div class="conteiner-box" id="sec-projects">
    <div class="cuadro-1" id="flex-sec">
      <h2>Video Games Repository</h2>
      <p>
        A small collection of mini-games that I have used to practice and
        enhance my skills <br /><br />
        <br /><br />
        <h3>Html</h3><h3>Css</h3><h3>JavaScript</h3>
      </p><br />

      <a href="" class="repository">Dev Repository ➜</a><br /><br />
      <a href="https://spotify-clone-neo.vercel.app/" class="repository"
        >Online Web ➜</a
      >
    </div>

    <div class="cuadro-2" id="projects">
      <br /><br />
      <img src="videogames.svg" alt="music" />
    </div>
  </div>
</div>

<style>
  .conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
  }

  .conteiner-box {
    position: relative;
    display: inline-flex;

    margin: 1.5rem;
    transition: 0.5s;
  }
  .conteiner-box:hover {
    transform: scale(1.1);
    transition: 0.5s;

    box-shadow:
      0 0 5px #b38df6,
      0 0 20px #b38df6,
      0 0 50px #b38df6,
      0 0 100px #b38df6;
  }

  .cuadro-1 {
    padding: 3rem;
    max-width: 15rem;
    background-color: #0e151f;
    border: 1px solid;
    border-color: #3d4c64;

    font-size: 2vh;
    line-height: 1.25rem;
    transition: 0.5s;
  }

  .cuadro-1 h2 {
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    color: #bfc7d2;
  }
  .cuadro-1 p {
    position: relative;
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: #bfc7d2;
  }

  h3 {
    color: #b38df6;
    line-height: 1vw;
    cursor: context-menu;

    display: inline;
    margin-right: 1vw;
  }

  .cuadro-2 {
    padding: 0;
    border: 1px solid;
    border-color: #3d4c64;
    z-index: 100;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .cuadro-2 img {
    width: 336px;
    height: 336px;
  }

  .repository {
    position: relative;
    top: 20px;
    color: #b38df6;
    text-decoration: none;
    padding: 0.3rem 0.7rem;
    border-radius: 5px;

    font-size: 0.9rem;
    font-weight: 500;
    border: 1px solid;

    transition: 0.5s;
  }
  .repository:hover {
    background-color: #b38df6;
    color: #0e151f;
    transition: 0.5s;
  }
  @media screen and (max-width: 750px) {
    .conteiner-box {
      align-items: center;
      flex-direction: column;
    }
    .cuadro-2 {
      border-top: none;
    }
  }
</style>
