---

---


<div class="container">

    <div class="box">
        <div class="text">
            <h2 class="sub">Professional Residency at the Instituto Tecnológico del Altiplano de Tlaxcala.</h2><br>
            <h3 class="sub3">2023 - 2024</h3><br>
            <article class="activities">
                <p>
                    ➤ Research and statistical analysis in embedded systems for tilapia farming.<br><br>
                    ➤ Creation of graphics and writing of articles about the project.<br><br>
                    ➤ Publication of the work in Academia Journals in 2023, highlighting advancements in tilapia
                    production systems.<br><br>
                </p><br>
                <a href="https://www.academiajournals.com/inicio-revistas" class="repository">Published Magazine➜</a>
            </article>
            
        </div>
    </div>
    <div class="box">
        <div class="text">
            <h2 class="sub">Social Service at the National College of Technical Professional Education.</h2><br>
            <h3 class="sub3">2016 - 2017</h3><br>
            <article class="activities">
                <p>
        
                    ➤ I supervised the computer equipment to ensure optimal and secure operation.<br><br>
                    ➤ I contributed to the administration of the library, facilitating access to educational resources for students.<br><br>
                    ➤ I performed maintenance tasks and managed book loans, ensuring a conducive learning environment.<br><br>
                            </p><br><br>
               
    
            </article>
        </div>
    </div>
    <div class="box">
        <div class="text">
            <h2 class="sub">Technical Maintenance and Technical Support Technician (Tech Services).</h2><br>
            <h3 class="sub3">2021 - 2022</h3><br>
            <article class="activities">
                <p>
        
                    ➤ I provided preventive and corrective maintenance to computer equipment.<br><br>
                    ➤ I offered technical support to users to resolve hardware and software issues.<br><br>
                    ➤ I participated in the configuration and installation of operating systems and applications.<br><br>
                    ➤ I collaborated in the management of equipment and supplies inventory.<br><br>   
                    
                            </p>
            </article>
        </div>
    </div>
    <div class="box">
        <div class="text">
            <h2 class="sub">Web Developer and Digital Design Freelance.</h2><br><br>
            <h3 class="sub3">2023 - 2024</h3><br>
            <article class="activities">
                <p>
                    ➤ I designed creative and attractive logos for various companies and projects.<br><br>
                    ➤ I developed digital designs for social media, including banners, posts, and visual elements.<br><br>
                    ➤ I worked independently, managing projects and my own time.
                </p><br>
                <a href="https://www.youtube.com/@15109carlos" class="repository">Youtube Channel ➜</a> <br><br>
    <a href="https://www.deviantart.com/neolife1003" class="repository">Devian Art ➜</a>
    
    
            </article>
        </div>
    </div>
</div>
<style>

.container{
margin-bottom: 5rem;
    display: flex;
justify-content: center;
gap: 1rem;
align-items: center;
flex-wrap: wrap;
    
}



.box {
    
    position: relative;
    width: 250px;
    height: 400px;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2rem;
    overflow: hidden;
    background-color: #0e151f;
    border: 1px solid;
    border-color: #3d4c64;


}

.box::before {
    content: "";
    position: absolute;
    height: 650px;
    width: 750px;
    background-image: conic-gradient(rgba(255, 255, 255, 0.44) 5deg, #8c50f5 20deg, #2d5c84 80deg  , transparent 200deg);
    animation: rotar 3.5s linear infinite;
}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}
.box::after {
    content: "";
    position: absolute;
    height: 493px;
    width: 344px;
    background-color: #0e151f;
    color: white;
}

.sub{
   
    position: relative;
    color: white;
    z-index: 2;
    font-size: 1rem;
    font-weight: 500;
    color: #bfc7d2;
}

.sub3 {
    position: relative;
   
    color: #b38df6;
    z-index: 2;
    font-weight: 500;
    font-size: 0.800rem;
}

.activities{
    margin-bottom: 2rem;
    position: relative; 
    color: #bfc7d2;
    z-index: 2;
    
    font-weight: 400;
    font-size: 0.800rem;
}

.repository {


    color: #b38df6;
    text-decoration: none;
    padding: 0.300vw 0.700vw;
    border-radius: 5px;
    
    font-size: 0.900rem;
    font-weight: 500;
    border: 1px solid;
    
    transition: 0.5s;
}
.repository:hover {
    background-color: #b38df6;
    color: #0e151f;
    transition: 0.5s;
    
}

</style>
