<div class="container">
<div class="conteiner-box" id="">
    <div class="cuadro-1" id="flex-sec">
        <h2>Professional Residency at the Instituto Tecnológico del Altiplano de Tlaxcala.</h2>
        <h3 class="cell-shuffle">2023 - 2024</h3><br>
        <p>
            ➤ Research and statistical analysis in embedded systems for tilapia farming.<br><br>
            ➤ Creation of graphics and writing of articles about the project.<br><br>
            ➤ Publication of the work in Academia Journals in 2023, highlighting advancements in tilapia production systems.<br><br>
        </p>
        <a href="https://www.academiajournals.com/inicio-revistas" class="repository">Published Magazine➜</a>
        
    </div>
    <div class="cuadro-1" id="flex-sec">
       
        <h2>Social Service at the National College of Technical Professional Education</h2>
        <h3 class="cell-shuffle">2016 - 2017</h3><br>
        <p >
            
➤ I supervised the computer equipment to ensure optimal and secure operation.<br><br>
➤ I contributed to the administration of the library, facilitating access to educational resources for students.<br><br>
➤ I performed maintenance tasks and managed book loans, ensuring a conducive learning environment.<br><br>
        </p>
       
        
    </div>
    <div class="cuadro-1" id="flex-sec">
      
        <h2>Technical Maintenance and Technical Support Technician (Tech Services)</h2>
        <h3 class="cell-shuffle">2021 - 2022</h3><br>
        <p>
            
➤ I provided preventive and corrective maintenance to computer equipment.<br><br>
➤ I offered technical support to users to resolve hardware and software issues.<br><br>
➤ I participated in the configuration and installation of operating systems and applications.<br><br>
➤ I collaborated in the management of equipment and supplies inventory.<br><br>   

        </p>
        
        
    </div><div class="cuadro-1" id="flex-sec">
        <h2>Web Developer and Digital Design Freelance </h2><br>
        <h3 class="cell-shuffle">2010 - Undefined</h3><br>
        <p>
            ➤ I designed creative and attractive logos for various companies and projects.<br><br>
            ➤ I developed digital designs for social media, including banners, posts, and visual elements.<br><br>
            ➤ I worked independently, managing projects and my own time.<br><br>
        </p>
        <a href="https://www.youtube.com/@15109carlos" class="repository">Youtube Channel ➜</a> <br><br>
        <a href="https://www.deviantart.com/neolife1003" class="repository">Devian Art ➜</a>
        
    </div>


   
</div>
</div>
<style>

   
    .conteiner-box {
        display: flex;
        justify-content: center;
        gap: 1rem;
      
        margin-bottom: 5rem
    }
    .cuadro-1 {
        padding: 3rem;
        max-width: 15rem;
       
        background-color: #0e151f;
        border: 1px solid;
        border-color: #3d4c64;
        color: rgb(128 140 156);
        font-size: 1.6vh;
        line-height: 1.25rem;
        transition: 0.5s;
    }
    .cuadro-1:hover,
:focus {
  color: #ffffff;

  transition: 0.5s ease;
  border: 1px solid #008cff;
 transform:translate3d(0, -10px, 0);
  box-shadow: 0 0 5px #b38df6, 0 0 20px #b38df6, 0 0 50px #b38df6,
    0 0 100px #b38df6;
}

    h3{
        color: #b38df6;
    }
    .cuadro-1 h2 {
        position: relative;
       margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: 500;
        color: #bfc7d2;
    }

   
    .repository {
        margin-top: 1rem;
        color: #b38df6;
        text-decoration: none;
        padding: 0.300rem 0.700rem;
        border-radius: 5px;
        
        font-size: 0.900rem;
        font-weight: 500;
        border: 1px solid;
        
        transition: 0.5s;
    }
    .repository:hover {
        background-color: #b38df6;
        color: #0e151f;
        transition: 0.5s;
        
    }
    
@media screen and (max-width: 750px) {
    .conteiner-box{
        align-items: center;
        flex-direction: column;


      
        
        
       
    }
}

</style>
