---
---

<a class="btn-start" id="start" href="#projects">START</a>
<a href="cv.pdf" class="btn-download">
  <svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2"
      stroke="currentColor" height="24" width="24" viewBox="0 0 24 24">
      <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
      <polyline points="7 10 12 15 17 10"></polyline>
      <line y2="3" x2="12" y1="15" x1="12"></line>
  </svg>
  Download CV
</a>
       

        <style>
            
    .btn-start {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.75rem 1.5rem;
  
    color: #ffffff;
    background-color: #0e151f;
    text-decoration: none;
    text-align: center;
    
    color: #bdc5cf;
    border: 1px solid #000;
    border-radius: 2px;
    border-color: #3d4c64;
    text-transform: uppercase;
    font-weight: 800;
    transition: all .6s ease;


}

.btn-start:hover {
    background-color: #d462ee31;
    border-radius: 50px;
    transition: all 0.3s;
    border-color: #c946ea;

}
.btn-download {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #0e151f;
    color: #bdc5cf;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border: 1px solid #000;
    border-radius: 2px;
    border-color: #3d4c64;
    user-select: none;
    gap: 0.75rem;
   
    transition: all .6s ease;
    z-index: 1000;
  }
  
  .btn-download:hover {
  
    background-color: #9f4ae956;
    color: #bdc5cf;
  }
  
  .btn-download:focus,button:active {
    opacity: .85;
    box-shadow: none;
  }
  
  .btn-download svg {
    width: 1.25rem;
    z-index: 1000;
    height: 1.25rem;
  }

        </style>
